extends ../layouts/common.pug
block content
    div(class="d-flex")
        h1.ml-2 
            span.mr-5 Sách
            a(href='/books/create', class="btn btn-primary ml-2 mt-2") New
    table(style='width:90% ', class='ml-4 table table-bordered')
            tr
              th avatar
              th Title
              th Description
              th(colspan="2") Status
            each book in books
                 tr
                    td
                      img(src=book.avatar width='32')
                    td=book.title
                    td=book.description
                    td
                        a(href='/books/update/' + book.id, class="btn btn-primary") Edit
                    td 
                        a(href='/books/delete/' + book.id, class="btn btn-primary") Delete

    nav(aria-label='Page navigation example' class='float-right mr-5')
      ul.pagination
        li.page-item
          a.page-link(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
            span.sr-only Previous
        while n < totalPage
            if n == page
                li.page-item.active
                    a.page-link(href=`/books?page=${n}`)=n++
            li.page-item
                a.page-link(href=`/books?page=${n}`)=n++
        li.page-item
          a.page-link(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
            span.sr-only Next
